.project-card {
    /* Height is 25% of viewing window - about 3 cards vertically on show no matter the layout*/
    height: 25vh;
    /* Card takes up 70% of its column container */
    width: 70%;
    /* Create curved corners for project card */
    border-radius: 10px; 
    border: 3px solid #000;
    padding: 3px;
    margin-top: 10%;
}

.project-title {
    height: 15%;
    width: 100%;
    text-align: center;
    background-color: blue;
}

.project-thumb {
    height: 85%;
    width: 100%;
    text-align: center;
    background-color: red;
}