.project-card {
    height: 25vh;
    width: 70%;
    border-radius: 10px;
    border: 3px solid #000;
    padding: 3px;
    margin-top: 10%;
}

.project-title {
    height: 15%;
    width: 100%;
    text-align: center;
    background-color: blue;
}

.project-thumb {
    height: 85%;
    width: 100%;
    text-align: center;
    background-color: red;
}