
/* main area. height is whole viewport and width is whole width */
.app {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

/* height of content set here */
.content {
    width: 100%;
}

/* height of navbar set here */
.navigation {
    width: 100%;
    height: 15vh;
}