.project-card {
    /* Height is 25% of viewing window - about 3 cards vertically on show no matter the layout*/
    height: 25vh;
    /* Card takes up 70% of its column container */
    width: 70%;
    /* Create curved corners for project card */
    border-radius: 10px; 
    border: 3px solid rgb(255, 255, 255);
    padding: 3px;
    margin-top: 10%;
    /* Overwrite webkit link css */
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 5px;
}

.project-card:Hover{
    transform: scale(1.01);
}


.project-title {
    /* Place the overlay just over the bottom of the image */
    position: relative;
    bottom: 15%;
    background-color: rgb(0, 0, 0, 0.7);
    /* Overlay is 15% the size of the total image */
    height: 15%;
    width: 100%;

    /* Center the text in the div*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-thumb {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.project-thumb img {
    object-fit: cover;
    min-width: 100%
}